<h2> Subir archivo </h2>
<%= form_tag({:controller => "archivos", :action => "subir_archivos"}, :method => "post", :multipart => true) do %>
<%= file_field_tag "archivo", :required => "required" %>
<%= submit_tag "Subir archivo" %>
<% end %>
<% if @formato_erroneo %>
<div>
  <p> El formato ingresado es incorrecto solo puedes subir musica C:</p>
</div>
<% end %>
<p> <%= link_to "Volver a la lista de archivos", :controller => "archivos", :action => "listar_archivos" %> </p>